<div class="container-fluid">
  <div class="container-fluid row">
    <h1><%= @titulo %></h1>
  </div>
  <div class='container-fluid row'>
    <div class="card w-100">
      <div class="card-header">
        <%= render 'form', tipo: @tipo %>
      </div>
      <div class="card-body">
        <%= datatable(@tipos, ['descricao'])%>
      </div>
    </div>
  </div>
</div>
